<!-- Wrapper -->
<div id="wrapper">

	<!-- Header -->
		<header id="header">
			<div class="logo">
			</div>
			<div class="content">
				<div class="inner">
					<h1>{{ site.title }}</h1>
					<p>{{ site.description }}</p>
				</div>
			</div>
			<nav>
				<ul>
					<li><a href="#about">About Me</a></li>
					<li><a href="#work">Work</a></li>
					<li><a href="#elements">Projects</a></li>
					<li><a href="#contact">Contact</a></li>
				
					<!-- {% for page in site.pages  %}
					{% unless page.layout == 'default' %}
					<li><a href="#{{ page.title }}">{{ page.title }}</a></li>
					{% endunless %}{% endfor %} -->
				</ul>
			</nav>
		</header>

	<!-- Main -->
		<div id="main">
