{%- comment -%}
Include vars:
section_items
{%- endcomment -%}

<!-- Nav -->
<nav id="nav">
   <hr>
    <ul>
        {%- assign _pages = site.html_pages | where_exp: "page", "page.hide != true" -%}
        {%- unless _pages == null -%}
        {%- assign _pages = _pages | sort: 'order' -%}
        {%- for _page in _pages -%}
        {%- assign _title = _page.title | default: _page.layout -%}
        {%- assign _slug = _title | slugify -%}
        {%- assign _icon = _page.icon | default: 'fa-link' -%}
        {%- assign _sections = include.section_items | where_exp: "section", "section.hide != true" -%}
        {%- comment -%}
        <!-- page.url (no underscore) is the url of the current page-->{%- endcomment -%}
        {%- if page.url == _page.url -%}
        <li><a href="#" id="{{- _slug -}}" class="active">
                <span class="label">{{- _title -}}</span>
                <span class="icon fa fas {{ _icon }}"></span>
            </a></li>
        <li id="subnav">
            <nav>
                {%- unless _sections == null -%}
                {%- for _sect in _sections -%}
                {%- assign _title = _sect.title | default: _sect.layout | default: 'Untitled' -%}
                {%- assign _slug = _title | slugify -%}
                {%- assign _icon = _sect.icon | default: 'fa-file' -%}
        <li><a href="#{{- _slug -}}" id="{{- _slug -}}-link" class="scrolly">
                <span class="label">{{- _title -}}</span>
                <span class="icon fa fas {{ _icon }}"></span>
            </a></li>
        {%- endfor -%}
        {%- endunless -%}
</nav>

{%- elsif _page.url -%}
<li><a href="{{- _page.url | absolute_url -}}" id="{{- _slug -}}-link">
        <span class="label">{{- _title -}}</span>
        <span class="icon fa fas {{ _icon }}"></span>
    </a></li>
{%- else -%}
<li><a href="{{- '/' | absolute_url -}}" id="broken-link"><span>[broken link]<span class="fa fas fa-unlink"></span></span></a></li>
{%- endif -%}
{%- endfor -%}
{%- endunless -%}

</ul>
<hr>
</nav>
